@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Kaushan+Script&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Covered+By+Your+Grace&family=Kaushan+Script&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Covered+By+Your+Grace&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Covered+By+Your+Grace&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Covered+By+Your+Grace&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Covered+By+Your+Grace&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Covered+By+Your+Grace&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Caveat:wght@400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Covered+By+Your+Grace&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body,
html {
    background-color: rgb(75, 94, 153);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.intro {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      overflow: hidden;
      background: black;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: fadeOut 1s ease forwards;
      animation-delay: 6s; 
    }

    .intro video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

 
    @keyframes fadeOut {
      to {
        opacity: 0;
        visibility: hidden;
      }
    }

   
    .main {
      opacity: 0;
      animation: fadeIn 1s ease forwards;
      animation-delay: 1s;
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }

    header {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(to bottom, #003366, #0a0a0a);
    }

.path{
    width: 100vh;
    height: auto;
    margin-bottom: -20vh;
    margin-right: 0vh;
    margin-left: 102vh;
    margin-top: -18vh;
}

.parte2{
    background-color: rgb(1, 23, 47);
    height: 100%;
    width: 100%;
    margin-top: -12vh;
}

.flower{
   margin-top: 100vh;

}

.down{
    width: 50vh;
    height: auto;
    margin-top: -0.3vh;
    margin-left:151vh;
    margin-bottom: -34.7vh;
}



.section {
  height: 300vh; 
  display: flex;
 
}

.Areti2{
    position: relative;
    display: flex;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.sword{
    width: auto;
    height: 35vh;
    margin-left: -1vh;
    margin-bottom: -18vh;
}

.du{
    display: flex;
}


.duo {
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: rgb(1, 23, 47);
}

.duo1 {
    width: 100%;
    height: 130vh;
    background-color: rgb(75, 94, 153);
    
}

.d{
    display: flex;
    margin-top: 15vh;
}

.d1{
    border: solid 0.4vh white;
    width: 30%;
    height: 70vh;
    margin-left: 24vh;
    border-radius: 1vh;
    background-color: rgb(80, 105, 182);
}

.d2{
     border: solid 0.4vh white;
     width: 30%;
    height: 70vh;
    margin-left: 32vh;
    border-radius: 1vh;
     background-color: rgb(80, 105, 182);
}

.listimg{
    width: 4.5vh;
    margin-right: 1vh;
    height: auto;
    margin-left: -6vh;
    margin-bottom: -0.5vh;
}

.texto{
    display: flex;
  flex-direction: column;
  justify-content: space-around;
    height: 265vh;
    margin-top: 4vh;
    margin-left: 6vh;
    margin-bottom: 5vh;
     background-color:  rgb(21, 60, 104);
    border-radius: 1vh;
}




.imgpessoal{
    display: flex;
}



p {
    color: white;
    font-size: 7em;
font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: normal;
    margin-left: 12vh;
    margin-right: 5vh;
    margin-top: 30vh;
         opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
    
}

p.visivel{
      opacity: 1;
  transform: translateY(0);
}


.imgIndex{
    width: 90vh;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh 0 white;
    height: auto;
    margin-left: 10vh;
    margin-top: 10vh;
}

.imgIndex1{
    width: 90vh;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh 0 white;
    height: auto;
    margin-left: 5vh;
    margin-top: 20vh;
    margin-right: 10vh;
    
}

.imgIndex2{
    width: 90vh;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh 0 white;
    height: auto;
    margin-left: 5vh;
    margin-top: 20vh;
    margin-right: 10vh;


}





.i2 {
    width: 70vh;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 4px 4px 0px rgb(75, 94, 153);
    margin-right: 60px;
    margin-top: 80px;
}

.titulo {
    font-family: "Rock salt", cursive;
    font-weight: 400;
    color: white;
    font-size: 16vh;
    display: inline-block;
    margin-left: 52vh;
    margin-bottom: -18vh;
}

.titulo1 {
    font-family: "Rock salt", cursive;
    font-weight: 400;
    color: white;
    font-size: 90px;
    display: inline-block;
    transition: transform 0.2s ease;
    margin-left: 30vh;
}

.tassinatura {
    font-family: "Rock salt", cursive;
    font-weight: 400;
    color: white;
    font-size: 70px;
    padding-left: 120px;
    display: inline-block;
    transition: transform 0.2s ease;
}

.Network {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    color: white;
    font-size: 20vh;
    display: inline-block;
    transition: transform 0.2s ease;
    margin-left: 58vh;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.Assinaturas {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    color: white;
    font-size: 20vh;
    margin-top: 5vh;
    display: inline-block;
    transition: transform 0.2s ease;
    margin-left: 50vh;
    padding-top: 2vh;
    transition: transform 0.2s ease;
    margin-bottom: 1vh;
}

.Network2 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    color: white;
    font-size: 15vh;
    margin-top: 5vh;
    display: inline-block;
    transition: transform 0.2s ease;
    margin-left: 5vh;
    transition: transform 0.2s ease;
    margin-bottom: 0.7vh;
}

.Network3{
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    color: white;
    font-size: 12vh;
    margin-top: 10vh;
    margin-left:55vh;
    transition: transform 0.2s ease;
    margin-bottom: -5vh;
     opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}



.Network3.visivel {
  opacity: 1;
  transform: translateY(0);
}

.Network4{
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    color: white;
    font-size: 12vh;
    margin-left:40vh;
    padding-top: 20vh;
    transition: transform 0.2s ease;
    margin-bottom: 1vh;
}



.container {
    display: flex;
    margin-bottom: 60px;
}

.frase {
    color: white;
    font-size: 100px;
    font-family: "Josefin Sans", sans-serif;
    transition: transform 0.2s ease;
}

.frase1 {
    color: white;
    font-size: 100px;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 180px;
    transition: transform 0.2s ease;
}

.frase:hover {
    transform: scale(1.05);
}

.frase1:hover {
    transform: scale(1.05);
}

hr {
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 0vh;

}

.hr1 {
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 0vh;
    margin-top: 0vh;

}

.hr2 {
    margin-top: 10vh;
}

.hr3 {
    width: 65%;

}

.hr4{
    margin-top: 0vh;
    width: 80%;
    margin-bottom: 5vh;
}

.hr5{
    margin-top: -3vh;
    width: 100%;
}

.hr6{
    width: 35%;
    margin-top: 30vh;
    margin-left: -1vh;
}

.hr7{
    width: 35%;
    margin-right: -1vh;
    margin-top: -1.6vh;
}

.aboutgeneral{
    display: flex;
}

.aboutPP{
    width: 20%;
    height: 5vh;
    background-color: white;
    margin-left: 80vh;
    outline: none;
    font-family: "Bona Nova SC", serif;
    font-size:3vh;
    border: none;
    border-radius: 0.5vh;
    color:rgb(75, 94, 153);
}

.aboutPP2{
    width: 20%;
    height: 5vh;
    background-color: white;
    margin-left: 80vh;
    outline: none;
    font-family: "Bona Nova SC", serif;
    font-size:3vh;
    border: none;
    border-radius: 0.5vh;
    color:rgb(75, 94, 153);
    margin-bottom: 5vh;
}




.agaeri {
    width: 550px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

.caixa {
    display: flex;
}

.box {
    background-color: rgb(28, 37, 65);
    ;
    width: 700px;
    height: 1000px;
    margin-top: 120px;
    margin-left: 1000px;
    border-radius: 10px;
}

.rodape{
    margin-bottom: -1vh;
}

@media (max-height: 800px), (max-width: 1280px) {
    .animated{
        font-size:10vh;
    }
    .animated1{
        font-size:10vh;
    }

    .imgpessoal{
        font-size: 1.2vh;
    }

    .animated3{
        font-size: 8vh;
    }

    .titulo{
        margin-left: 44vh;
    }
    .Network{
margin-left: 52vh;
    }

    .Assinaturas{
        margin-left: 44vh;
        font-size: 18vh;
    }

    .Network3{
        margin-left: 45vh;
    }

    .down{
        margin-left: 132vh;
    }

    .aboutPP{
        margin-left: 75vh;
    }
    .hr7{
        margin-left: 120vh;
    }

    .flower{
        width: 105%;
        height: auto;
    }


}

@media (min-height:801px) and (max-height:1200px) {
.animated{
        font-size:10vh;
    }
    .animated1{
        font-size:10vh;
    }

    .imgpessoal{
        font-size: 1.2vh;
    }

    .animated3{
        font-size: 8vh;
    }

    .titulo{
        margin-left: 44vh;
    }
    .Network{
margin-left: 52vh;
    }

    .Assinaturas{
        margin-left: 44vh;
        font-size: 18vh;
    }

    .Network3{
        margin-left: 45vh;
    }

    .down{
        margin-left: 132vh;
    }

    .aboutPP{
        margin-left: 75vh;
    }
    .hr7{
        margin-left: 120vh;
    }

    .flower{
        width: 105%;
        height: auto;
    }

}