@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Kaushan+Script&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Covered+By+Your+Grace&family=Kaushan+Script&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Covered+By+Your+Grace&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Covered+By+Your+Grace&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Varela+Round&display=swap');

/* Reset total */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y:hidden;
  scrollbar-width: none; 
}

body::-webkit-scrollbar {
  display: none;
}

.icon{
  width: 16vh;
  height: auto;
  margin-top: -7.5vh;
  margin-bottom: -3.5vh;
  margin-left: 1.5vh;

}

.t1{
  font-family: "Rock salt", cursive;
    font-weight: 400;
    color: white;
    font-size: 4vh;
    display: inline-block;
    margin-left: 1.5vh;
}

.t2{
   font-family: "Rock salt", cursive;
    font-weight: 400;
    color: white;
    font-size: 4vh;
    display: inline-block;
    margin-left: 3vh;
}

html, body {
  width: 100%;
  height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.tree{
  width: 106vh;
  height: auto;
  margin-left: 34vh;
}


p{
  color: white;
    font-size: 2.3vh;
    font-family: "Josefin Sans", sans-serif;
}

hr{
  width: 85%;
  height: 0.5vh;
  background-color: white;
  border-radius: 1vh;
  margin-top: 0.5vh;
  margin-left: 1vh;
}

.casa{
  width: 3vh;
  height: auto;
  margin-bottom: -0.3vh;
  margin-left: 2vh;
  margin-right: 1vh;
}

.inicio{
  width: 3vh;
  height: auto;
  margin-bottom: -0.5vh;
  margin-left: 2vh;
  margin-right: 1vh;
}

.Alter{
  width: 2.5vh;
  height: auto;
  margin-bottom: -0.4vh;
  margin-left: 2vh;
  margin-right: 1vh;
}

.netnet{
   width: 3.5vh;
  height: auto;
  margin-bottom: -0.4vh;
  margin-left: 0.7vh;
  margin-right: 1vh;
    margin-left: 1.5vh;
}

.criar{
  width: 3vh;
  height: auto;
  margin-bottom: -0.7vh;
  margin-left: 0.7vh;
  margin-right: 1vh;
    margin-left: 1.6vh;
}

.gal{
  width: 3vh;
  height: auto;
  margin-bottom: -0.7vh;
  margin-left: 0.7vh;
  margin-right: 1vh;
    margin-left: 1.5vh;
}

.eng{
  width: 3vh;
  height: auto;
  margin-bottom: -0.7vh;
  margin-left: 0.7vh;
  margin-right: 1vh;
    margin-left: 1.5vh;
}

.int{
  width: 2vh;
  height: auto;
  margin-bottom: -0.7vh;
  margin-left: 1.3vh;
  margin-right: 1.7vh;
    margin-left: 1.5vh;
}

.networkImg{
  width: 18vh;
  height: auto;
margin-left: 0.5vh;
margin-top: 2vh;
}


.n1{
  margin-top: 1vh;
}

.n6{
  margin-bottom: 32vh;
}

/* layout principal */
.geral {
  display: grid;
  grid-template-columns: 10% 1fr; /* navbar ~25% menor que antes */
  height: 100vh;
  width: 100vw;
}

/* navbar lateral */
.navbar {
    background-color: rgb(1, 23, 47);
    
  height: 100vh;
  width: 100%;
}

.topnavbar{
  background-color: white;
  width: 100%;
  height: 2vh;
}

/* área de conteúdo principal */
.function {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* área de interação (parte de cima) */
.interacao {
  flex: 1; /* ocupa todo o espaço disponível */
  width: 100%;
  background-color: rgb(176, 217, 255)
}

/* toolbox (parte de baixo) */
.toolbox {
  height: 20vh; /* altura fixa */
  width: 100%;
  background-color: rgb(75, 94, 153);
  margin-top: -0.5vh;
  display: flex;
}

.toolbox1{
   background-color: rgb(44, 57, 94);
   width: 22vh;
   height: 100%;

}

.toolboximg{
  height: 90%;
  margin-top: 0.5vh;
  margin-left: 32vh;
  margin-right: 20vh;
}
.toolboximg2{
  height: 90%;
  margin-top: 0.7vh;
  margin-left: -2.5vh;
}

.saveicon{
  width:20%;
  height:auto;
}

.seta{
  height: auto;
  width: 20%;
}

.tv{
  width: 110%;
  height: auto;
  margin-top: -5.2vh;
  margin-left: -2.1vh;
}

.disquete{
  width: 24%;
  height: auto;
  margin-bottom: -9vh;
  margin-left: 2vh;
}
.disquete2{
  width: 24%;
  height: auto;
  margin-bottom: -9vh;
  margin-left: 5vh;
}

.setaesquerda{
   width: 50%;
  height: auto;
  margin-bottom: -15vh;
  margin-left: 2vh;
}

.setadireita{
  width: 50%;
  height: auto;
  margin-bottom: -11vh;
  margin-left: 7vh;
}



.n1,.n2,.n3,.n4,.n5,.n6,.n7,.n8,.n9{
  height: 5vh;
  display: flex;
  align-items: center;
}
/*Hovers da navbar*/

.n1:hover,
.n2:hover,
.n3:hover,
.n4:hover,
.n5:hover,
.n6:hover,
.n7:hover,
.n8:hover,
.n9:hover{
  background-color: rgb(75, 94, 154);
  width: 100%;
}

@media (max-height: 800px), (max-width: 1280px) {
    .toolboximg{
      margin-left: 22vh;
      width: 60%;
    }
    .tv{
      margin-top: -8vh;
    }
    .tree{
      margin-left: 24vh;
    }
}

@media (min-height:801px) and (max-height:1200px) {
.toolboximg{
      margin-left: 22vh;
      width: 60%;
    }
    .tv{
      margin-top: -6vh;
    }
    .tree{
      margin-left: 24vh;
    }
}
