@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Kaushan+Script&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Covered+By+Your+Grace&family=Kaushan+Script&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(105, 142, 219);
}

body {
  overflow-y: hidden;
  scrollbar-width: none;
}

.logo {
  width: 40vh;
  height: auto;
  position: relative;
  z-index: 1;
}

.toppe {
  background-color: rgb(201 227 255);
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 0;
  height: 10vh;
}

.aretivitae {
  display: flex;
}

.areti {
  font-family: "Rock Salt", cursive;
  color: white;
  font-size: 10vh;
  margin-top: 15vh;
  margin-left: 6vh;
  margin-right: -6vh;
  font-weight: 200;
  position: relative;
  z-index: 1;
}

.vitae {
  font-family: "Rock Salt", cursive;
  color: white;
  font-size: 10vh;
  margin-top: 15vh;
  margin-left: -4vh;
  font-weight: 200;
  position: relative;
  z-index: 1;
}

.btn {
  background-color:rgb(75, 94, 153);
  width: 20vh;
  height: 5vh;
  position: absolute;
  z-index: 2;
  margin-left: 55%;
  margin-bottom: 2vh;
  outline: none;
  border-radius: 1vh;
  border: none;
  font-family: "Judson", serif;
  font-weight: 400;
  font-size: 2.5vh;
  color: white;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgb(178, 215, 255);
  border: 0.5vh solid rgb(168, 213, 250);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  z-index: 1;
}

.rodape {
  background-color: rgb(201 227 255);
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 15vh;
  z-index: 0;
}

.r1 {
  background-color: rgb(148, 195, 245);
  width: 100%;
  height: 5vh;
  position: relative;
  z-index: 0;
}

.r2 {
  background-color: rgb(177 214 255);
  width: 100%;
  height: 5vh;
  position: relative;
  z-index: 0;
}

.r3 {
  background-color: rgb(201 227 255);
  width: 100%;
  height: 5vh;
  position: relative;
  z-index: 0;
}

@media (max-height: 800px), (max-width: 1280px) {
  .areti {
    font-size: 5vh;
    margin-top: 12vh;
    margin-left: 4vh;
  }
  .vitae {
    font-size: 5vh;
    margin-top: 12vh;
  }
  .btn {
    width: 18vh;
    height: 4.5vh;
    font-size: 2.5vh;
    margin-left: 50%;
  }
  .logo {
    width: 32vh;
  }
  .back {
    top: 10vh;
    width: 100%;
    height: calc(100dvh - 10vh);
    object-fit: cover;
  }
}

@media (min-height: 801px) and (max-height: 1200px) {
  .areti {
    font-size: 5vh;
    margin-top: 12vh;
    margin-left: 4vh;
  }
  .vitae {
    font-size: 5vh;
    margin-top: 12vh;
  }
  .btn {
    width: 17.5vh;
    height: 5vh;
    font-size: 2.5vh;
    margin-left: 53%;
  }
  .logo {
    width: 38vh;
  }
  .back {
    top: 5vh;
    width: 100%;
    height: 90dvh;
    object-fit: cover;
    right: 5vh;
  }
}

